node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

yarn.lock
scripts/data.json
package-lock.json
scripts/data copy.json
scripts/history/userlist_history.json
